<h1>Delper</h1>
<p class="text-muted">Developer helper</p>

<div class="row shadow-lg mt-5 mb-5 p-3">
  <div class="col-3">
    <div class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link list-group-item-light border-buttom" id="v-pills-technologies-tab" data-toggle="pill" href="#v-pills-technologies" role="tab" aria-controls="v-pills-technologies" aria-selected="true">Technologies</a>
      <a class="nav-link list-group-item-light" id="v-pills-lessons-tab" data-toggle="pill" href="#v-pills-lessons" role="tab" aria-controls="v-pills-lessons" aria-selected="false">Lessons</a>
      <a class="nav-link list-group-item-light" id="v-pills-projects-tab" data-toggle="pill" href="#v-pills-projects" role="tab" aria-controls="v-pills-projects" aria-selected="false">Projects</a>
      <a class="nav-link list-group-item-light" id="v-pills-questions-tab" data-toggle="pill" href="#v-pills-questions" role="tab" aria-controls="v-pills-questions" aria-selected="false">Questions</a>
      <a class="nav-link list-group-item-light" id="v-pills-answers-tab" data-toggle="pill" href="#v-pills-answers" role="tab" aria-controls="v-pills-answers" aria-selected="false">Answers</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-technologies" role="tabpanel" aria-labelledby="v-pills-technologies-tab">About technologies</div>
      <div class="tab-pane fade" id="v-pills-lessons" role="tabpanel" aria-labelledby="v-pills-lessons-tab">About lessons</div>
      <div class="tab-pane fade" id="v-pills-projects" role="tabpanel" aria-labelledby="v-pills-projects-tab">About projects</div>
      <div class="tab-pane fade" id="v-pills-questions" role="tabpanel" aria-labelledby="v-pills-questions-tab">About questions</div>
      <div class="tab-pane fade" id="v-pills-answers" role="tabpanel" aria-labelledby="v-pills-answers-tab">About answers</div>
    </div>
  </div>
</div>
