
<div class="shadow-lg mt-5 mb-5 p-5">
  <div class="dropdown">
    <a class="text-muted dropdown-toggle" href="<%=  %>" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="text-muted text-decoration-none">
        Add new question <b>for</b>
      </span>
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <% @technologies.each do |technology| %>
        <a class="dropdown-item" href="<%= new_technology_question_path(technology) %>">
          <small><%= technology.title %></small>
        </a>
      <% end %>
    </div>
  </div>
</div>
