<div class="dropdown">
  <a class="text-muted dropdown-toggle" href="<%=  %>" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="text-muted">
      Add new lesson <b>for</b>
    </span>
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <% @technologies.each do |technology| %>
      <a class="dropdown-item" href="<%= new_technology_lesson_path(technology) %>">
        <%= technology.title %>
      </a>
    <% end %>
  </div>
</div>
